<!--
Working examples of accessing both /public and /data directories:
<img src="/img/zf2-logo.png"><br>
<img src="/tmp/images/anispace.png"><br>
-->

<!-- sort method options -->
<p id="sorts"> 
	Sort by: &nbsp;
	<a href="<?php echo $this->url($this->route);?>?page=<?php echo $current_page; ?>&sortby=alpha_asc">
		Alphabet (ascending)
	</a> &nbsp;|&nbsp;
	<a href="<?php echo $this->url($this->route);?>?page=<?php echo $current_page; ?>&sortby=alpha_desc">
		Alphabet (descending)
	</a> &nbsp;|&nbsp;
	<a href="<?php echo $this->url($this->route);?>?page=<?php echo $current_page; ?>&sortby=date_asc">
		Date (ascending)
	</a> &nbsp;|&nbsp;
	<a href="<?php echo $this->url($this->route);?>?page=<?php echo $current_page; ?>&sortby=date_desc">
		Date (descending)
	</a>
</p>

<!-- pagination controls -->
<?php
/* grabbed directly from official Zend tutorial */
// add at the end of the file after the table
echo $this->paginationControl(
    // the paginator object
    $gallery_items,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'index'
    )
);
?>

<!-- main project thumbnail display -->
<div class="row">
<div class="col-xs-10 col-xs-offset-1" id="portfolioDisplay">
	<?php 
	// example of fetching db items
	foreach($gallery_items as $item) {
	?>

	<a class="itemLink" href="/view/<?php echo $item->id; ?>">
	<div class="itemThumbnail" style="background-image: url('<?php
		// if portfolio item doesn't have an image (filename), just render
		// the blank image
		$img_filename = ($item->img_filename == null) ? 'none.jpg' : $item->img_filename;

		echo "/sym/images/" . $img_filename;
	?>'">
		
		<!-- 
			invisible until user hovers over the thumbnail.
			only background is filtered by opacity.
		-->
		<div class="thumbContent">
			<p class="thumbOverlay">
			</p>
			<p class="thumbText">
				<?php echo $item->title ?>
			</p>
		</div>

	</div>
	</a>

	<?php 
	} 
	?>
</div>
</div>