<p class="backLink">
	<a href="<?php echo $previous_route; ?>">< Previous Page</a>
</p>

<p><div style="float: left;">Displaying all projects that contain the tag &nbsp;</div> 
	<div class="tag" style="margin-right: 0; position: relative; bottom: 5px;"><?php echo $tag_name; ?></div>&nbsp;:	</p>

<div style="height: 10px;"></div>

<div class="row">
<div class="portfolioList col-xs-10 col-xs-offset-1">
	<?php 
	foreach($gallery_items as $item) {
	?>

	<a href="/view/<?php echo $item->id; ?>">
	<div class="itemThumbnail" style="background-image: url('<?php
		// if portfolio item doesn't have an image (filename), just render
		// the blank image
		$img_filename = ($item->img_filename == null) ? 'none.jpg' : $item->img_filename;

		echo "/sym/images/" . $img_filename;
	?>'">
		
		<!-- 
			invisible until user hovers over the thumbnail.
			only background is filtered by opacity.
		-->
		<div class="thumbContent">
			<p class="thumbOverlay">
			</p>
			<p class="thumbText">
				<?php echo $item->title ?>
			</p>
		</div>

	</div>
	</a>

	<?php
	}
	?>
</div>
</div>