body {
    font-family: Calibri, serif;
    font-size: 16px;
    background-image: url('../img/background.jpg');
    color: #fff;
    letter-spacing: 0.3px;
}

a {
    color: #8EFF8E;
}
a:visited {
    color: #8EFF8E;
}
a:hover {
    color: #CDFFC7;
    text-decoration: none;
}

header {
    height: 95px;
    width: 100%;
    padding: 0 0 0 10px;

    color: #fff;

    background-color: #4C147C;
}

#title {
    float: left;
    margin-top: -5px;
    margin-left: 20px;
}

#titleText {
    font-family: 'Raleway', serif;
    font-size: 60px;
    font-weight: 600;
}

#nav {
    float: left; 
    margin-left: 60px;
    margin-top: 40px;
}

#nav > ul {
    list-style-image: none;
    margin: 0;
    padding: 0;
}

#nav > ul > a {
    text-decoration: none;
}

#nav > ul > a > li {
    display: inline;

    color: #fff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;

    padding: 5px 8px 5px 8px;

    border: 1px solid #fff;
    border-radius: 5px;
    opacity: 0.85;
}

#nav > ul > a > li:hover {
    opacity: 1;
}

#content {
    padding: 20px;
}

#sorts {
    text-align: center;
}

#portfolioDisplay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolioList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.itemThumbnail {
    position: relative;
    float: left;
    width: 360px;
    height: 250px;
    background-position: top left;
    background-size: auto 400px;
    background-repeat: no-repeat;
}

.itemLink:nth-child(2) {
    margin-right: 50px;
}

.itemLink:nth-child(3) {
    margin-left: 50px;
}

.thumbContent {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.thumbContent:hover {
    opacity: 1;
}

.thumbOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.81;
}

.thumbText {
    margin-left: 10px;
    margin-top: 90px;

    position: relative;
    font-weight: 900;
    font-family: 'Raleway', serif;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000;
}

#pagination {
    clear: both;
    list-style-image: none;
    text-align: center;

    margin-top: -15px;
    margin-bottom: -20px;
}

#pagination > li {
    list-style: none;
    display: inline;
    font-size: 60px;
    font-weight: 600;
}

#pagination > li:first-child {
    margin-right: 10%;
}
#pagination > li:last-child {
    margin-left: 10%;
}

#pagination > li > a {
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

#pagination > li:not(.disabled) > a:hover {
    opacity: 0.8;
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    opacity: 0.5;
}

.itemDesc {
    position: relative;
    top: 10px;
}

.crop {
    float: right;
    width: 550px;
    height: 350px;
    overflow: hidden;
    margin-right: 75px;
}

.crop img {
    width: 800px;
    height: auto;
}

.backLink {
}

.tags {
    position: relative;
    top: 25px;
    left: 15px;
    clear: both;

}

.tag {
    float: left;
    padding: 3px 8px 3px 8px; 
    border-radius: 10px;
    background-color: #4B4B4B;
    color: #fff;
    font-weight: 600;
    margin-right: 15px;
}

.tag:hover {
    background-color: #7C7C7C;
}