body {
    font-family: Raleway, serif;
    font-size: 18px;
    background-image: url('../img/city_background.png');
    background-position: left bottom;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-color: #E5F5FF;
    color: #000;
    letter-spacing: 0.3px;
    min-height: 110vh;
}
#treeBg {
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    z-index: -1;
}

a {
    color: #1C36B6;
}
a:visited {
    color: #4A6BB1;
}
a:hover {
    color: #8B9CF1;
    text-decoration: none;
}

header {
    height: 95px;
    width: 100%;
    padding: 0 0 0 10px;
    
    background-color: rgba(0, 4, 70, 0.8);

    /*background-image: url('../img/header-background.jpg');*/

    /*-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.6);*/
}

#title {
    float: left;
    margin-left: 5px;

    color: #fff;
    font-family: 'Raleway', serif;
    font-weight: 600;
}

#titleText {
    font-size: 50px;
}
#titleText + span {
    font-size: 18px;

    display: block; 
    position: relative; 
    top: -8px;
    left: 3px;
    letter-spacing: 2px; 
    font-weight: 600;
}
#title a {
    color: inherit;
}

#nav {
    float: left; 
    margin-left: 30px;
    margin-top: 40px;
}

#nav > ul {
    list-style-image: none;
    margin: 0;
    padding: 0;
}

#nav > ul > a {
    text-decoration: none;
}

#nav > ul > a > li {
    display: inline;

    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;

    padding: 5px 8px 5px 8px;

    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

#nav > ul > a > li:hover {
    border: 1px solid #75FD62;
    color: #75FD62;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#content {
    padding: 20px;
}

#sorts {
    text-align: center;
}

#portfolioDisplay {
    margin-top: 25px;

    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.portfolioList {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.itemThumbnail {
    position: relative;
    float: left;
    width: 450px;
    height: 350px;
    background-repeat: no-repeat;
}
.itemThumbnail:not(.empty-img) {
    background-position: top left;
    background-size: 750px auto;
}

.itemLink {
    margin: 8px;

    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
.touch .itemLink {
    position: relative;
    margin-bottom: 80px;
}

/*.itemLink:nth-child(2) {
    margin-right: 50px;
}

.itemLink:nth-child(3) {
    margin-left: 50px;
}*/

.thumbContent {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.thumbContent:hover {
    opacity: 1;
}
.touch .thumbContent:hover {
    opacity: 0;
}

.thumbOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.81;
}

.thumbText {
    margin-left: 10px;
    margin-top: 90px;

    position: relative;
    font-weight: 900;
    font-family: 'Raleway', serif;
    font-size: 24px;
    letter-spacing: 3px;
    color: #000;
}

#pagination {
    clear: both;
    list-style-image: none;
    text-align: center;

    margin-top: -18px;
    margin-bottom: -35px;
    padding-left: 0;
}

#pagination > li {
    list-style: none;
    display: inline;
    font-size: 60px;
    font-weight: 600;
}

#pagination > li:first-child {
    margin-right: 10%;
}
#pagination > li:last-child {
    margin-left: 10%;
}

#pagination > li > a {
    text-decoration: none;
    color: #4FC93F;
    opacity: 1;
}

#pagination > li:not(.disabled) > a:hover {
    color: #8FE983;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.disabled {
    opacity: 0.3;
}

.disabled:hover {
    opacity: 0.3;
}

.itemDesc {
    position: relative;
    top: 10px;
}

.portfolioItemTitle {
    font-family: Raleway, serif; 
    font-size: 36px; 
    font-weight: 900; 
    letter-spacing: 3px;
    border-bottom: 1px solid #414141; 
    width: 600px;
}

.crop {
    border: 1px solid #000;
    float: right;
    width: 550px;
    /*height: 500px;*/
    max-height: 500px;
    overflow: hidden;
    margin: 0 75px 35px;
}

.crop img {
    /*width: 800px;*/
    width: 100%;
    height: auto;
}

.backLink {
}

.tags {
    position: relative;
    top: 25px;
    left: 15px;
    clear: both;

}

.tag {
    float: left;
    padding: 3px 8px 3px 8px; 
    border-radius: 10px;
    background-color: #4B4B4B;
    color: #fff;
    font-weight: 600;
    margin-right: 15px;
}

.tag:hover {
    background-color: #7C7C7C;
}

#burgerMenuBtn {
    display: none;
}
#mobileMenu {
    display: none;
}

.touchScreenDesc {
    display: none;
}
.touch .touchScreenDesc {
    display: block;
    position: absolute;
    bottom: 0;
    height: 70px;
    color: #000;
    background-color: #fff;
    width: 100%;
    bottom: -70px;
    padding: 10px;

    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.3);
}

/* laptop view */
@media only screen and (max-width: 1007px) {
    header {
        height: auto;
        padding: 0;
    }
    #nav {
        margin: 0;
        float: none;
        clear: both;
        height: 60px;
        text-align: center;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .crop {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
/* tablet and mobile view */
@media only screen and (max-width: 767px) {
    #title {
        margin-left: 5px;
    }
    #titleText {
        font-size: 35px;
    }
    #titleText + span {
        font-size: 12px;
    }
    header {
        height: 67px;
    }
    #nav {
        display: none;
    }
    #burgerMenuBtn {
        display: block;
        float: right;
        width: 38px;
        height: 30px;
        position: relative;
        top: 17px;
        right: 14px;
        cursor: pointer;
    }
    #burgerMenuBtn img {
        width: 100%;
        height: 100%;
    }
    #mobileMenu {
        display: block;
        position: absolute;
        width: 100vw;
        top: 62px;
        right: 0;
        color: #fff;
        font-size: 24px;
    }
    #mobileMenu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #mobileMenu a {
        padding: 25px 0 25px 16px;
        display: none;
        color: inherit;
        position: relative;
    }
    #mobileMenu li {
        display: inline-block;
        border: 1px dashed rgba(255, 255, 255, 0.6);
        border-radius: 15px;
        padding: 3px 18px;
        margin-left: 10px;
    }
    #mobileMenu i {
        margin-right: 10px;
    }
    #portfolioDisplay.col-xs-10.col-xs-offset-1 {
        width: 100%;
        margin-left: 0;
    }
    .itemLink,
    .itemThumbnail {
        width: 100%;
        max-width: 450px;
    }
    .portfolioItemTitle {
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
    .crop {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    body {
        background-image: none;
    }
}
/* smallest phone sizes */
@media only screen and (max-width: 375px) {
    #title {
        display: none;
    }
    #mobileMenu {
        font-size: 20px;
    }
    #mobileMenu li {
        padding: 3px 14px;
        margin-left: 5px;
    }
}